/* * {
  border: 1px solid black;
} */

body {
  background-image: url(./images/disc-golf-background.jpg);
  background-size: cover;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 20px;
  background-color: rgba(211, 211, 211, 0.83);
  border: 1px solid black;
  padding: 5px;
}

header {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

#root {
  
  line-height: 1.5;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.buttons {
  display: flex;
  padding: 5px;
  justify-content: center;
  gap: 10px;
  
}

.button {
  margin: 2px;
  cursor: pointer;
}

#addToBag,
#addToStorage {
  width: auto;
  align-self: center;
}

.wholeContainer {
  display: flex;
  gap: 20px;
}

.bagContainer,
.storageContainer {
  font-size: xx-large;

  display: flex;
  flex-direction: column;
}

.bag,
.storage {
  font-size: medium;
  text-align: left;
  min-width: fit-content;
}

.bagDisc,
.storageDisc {
  display: flex;
  justify-content: space-between;

  margin-top: 5px;
  margin-bottom: 10px;
  cursor: grab;
  border: 1px solid gray;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.discButtons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.addForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.add-inputs {
  margin-bottom: 10px;
}

.bagDisc:hover,
.storageDisc:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}