* {
  border: 1px solid black;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

header {
  font-size: 50px;
  font-style: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

#root {
  
  line-height: 1.5;

  display: flex;
  flex-direction: column;

  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.buttons {
  display: flex;
  padding: 5px;
  justify-content: center;
  gap: 10px;
  /* align-content: center; */
  
}

.button {
  margin: 2px;
  cursor: pointer;
}

.container {
  display: flex;
  /* padding: 5px; */
  gap: 20px;
}

.bag,
.storage {
  text-align: left;
  min-width: fit-content;
}

.bagDisc,
.storageDisc {
  display: flex;
  justify-content: space-between;

  margin-top: 5px;
  margin-bottom: 10px;
  cursor: grab;
}

.discButtons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.addForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.add-inputs {
  margin-bottom: 10px;
}